<html>
  {% include "head" %}
  {% include "header" %}
  <body>
    <main class="content">
      {% block content %}
      {% endblock content %}
    </main>
  </body>
  {% include "footer" %}
</html>
